/**
                                                  -- Start Import Fonts
                                                **/
.baskervville-sc-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.anton-sc-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*
                                                  -- End Import Fonts
                                                */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900;
    font-style: normal;
}

body {
    /* color: white; */
    text-align: center;
    font-family: "Arial", sans-serif;
}

.container {
    margin-top: 50px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -12% !important;
}

.description {
    font-size: 18px;
    margin-bottom: 5px;
}

.btn-light {
    background: #c00060;
    box-shadow: 0 5px 15px 0 rgba(25, 50, 165, 0.2);
    color: white;
    font-weight: bold;
    border: none;
    transition: background 0.3s;
}

.btn-light:hover {
    background: #bdc3c7;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.row>.col-xs-2 {
    padding: 10px;
}

/* Modal styles */
.modal {
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-header,
.modal-footer {
    background: #c00060;
    color: white;
}

.modal-card {
    padding: 5px !important;
    border-radius: 15px;
    border-bottom: 1px solid black !important;
    color: black;
    box-shadow: 0 5px 15px 0 rgba(25, 50, 165, 0.2);
}

.modal-card ul {
    list-style-type: none !important;
    padding: 0;
}

.modal-card ul li {
    margin-bottom: 10px;
}

/* Split screen */
.split-screen {
    height: 100vh;
}

.left {
       background-image: linear-gradient(208deg, #00264d, #004080, #005cb3, #0078e6, #0095ff);


    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}

.right {
    background: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: black;
}

@media (max-width: 768px) {
    .left {
        clip-path: none !important;
    }

    .split-screen {
        flex-direction: column;
    }

    .split-line {
        width: 100%;
        height: 5px;
    }
}

.apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.app-card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    color: white;
    box-shadow: 0 5px 15px 0 rgba(25, 50, 165, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 150px;
    padding: 10px;
    text-align: center;
}

.app-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background: #c00060;
    box-shadow: 0 5px 15px 0 rgba(25, 50, 165, 0.2);
    z-index: 0;
}

.app-card.full-width {
    width: 100%;
}

.img-container {
    border-radius: 50%;
    margin: 0 auto;
    display: table;
    padding: 10px;
}

.app-card img {
    height: 80px;
    width: 80px;
    border-radius: 50% !important;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.app-card .card-title {
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .app-card.full-width {
        width: 100%;
        /* Make the Google Play card full width */
    }

    .app-card:not(.full-width) {
        width: calc(50% - 20px);
        /* Two cards per row with gap */
        margin-bottom: 20px;
        /* Adjust spacing between cards */
    }

    .apps {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        /* Adjust gap between cards */
    }
}

.left {
       background-image: linear-gradient(208deg, #00264d, #004080, #005cb3, #0078e6, #0095ff);

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    animation: slideLeft 1s forwards;
    margin-top: -20px;
}

.right {
    background: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    color: black;
    animation: slideUp 1s forwards;
}

.right .app-card {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.right .app-card:nth-child(odd) {
    animation-name: slideRight;
}

.right .app-card:nth-child(even) {
    animation-name: slideLeft;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.app-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.app-card:hover {
    transform: s(-10px) !important;
}

.app-card:nth-child(odd):hover {
    transform: translateX(-10px) translateY(-10px) !important;
}

.app-card:nth-child(even):hover {
    transform: translateX(10px) translateY(-10px) !important;
}

/** Image Platform Animation */

.flip-vertical-left {
    -webkit-animation: flip-vertical-left 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
    animation: flip-vertical-left 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}

/* ----------------------------------------------
                                            * ----------------------------------------
                                            * animation flip-vertical-left
                                            * ----------------------------------------
                                            */
@-webkit-keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

@keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

/* Platform-specific colors */
#google-card::before {
    background: linear-gradient(to bottom right, #34a853, #228b22);
}

#google-card .btn {
    background: linear-gradient(to bottom right, #34a853, #228b22);
    color: white;
}

#instagram-card::before {
    background: linear-gradient(to bottom right, #833ab4, #c13584);
}

#instagram-card .btn {
    background: linear-gradient(to bottom right, #833ab4, #c13584);
    color: white;
}

#tiktok-card::before {
    background: linear-gradient(to bottom right, #ff0000, #5800ff);
}

#tiktok-card .btn {
    background: linear-gradient(to bottom right, #ff0000, #5800ff);
    color: white;
}

#fb-card::before {
    background: linear-gradient(to bottom right, #1877f2, #04a6eb);
}

#fb-card .btn {
    background: linear-gradient(to bottom right, #1877f2, #04a6eb);
    color: white;
}

#pubg-card::before {
    background: linear-gradient(135deg, #0d1a2b, #ffc600) !important;
}

#pubg-card .btn {
    background: linear-gradient(135deg, #0d1a2b, #ffc600) !important;
    color: white;
}

#freefire-card::before {
    background: linear-gradient(135deg, #FF9500, #222222);
}

#freefire-card .btn {
    background: linear-gradient(135deg, #FF9500, #222222);
    color: white;
}

#twitter-card::before {
    background: linear-gradient(135deg, #1DA1F2, #ffffff);
}

#twitter-card .btn {
    background: linear-gradient(135deg, #1DA1F2, #ffffff);
    color: white;
}

#snapchat-card::before {
    background: linear-gradient(to bottom right, #fffc00, #ff0000);
}

#snapchat-card .btn {
    background: linear-gradient(to bottom right, #fffc00, #ff0000);
    color: white;
}

#telegram-card::before {
    background: linear-gradient(135deg, #0088cc, #ffffff);
}

#telegram-card .btn {
    background: linear-gradient(135deg, #0088cc, #ffffff);
    color: white;
}


#snapchat-card .btn {
    background: linear-gradient(to bottom right, #fffc00, #ff0000);
}

#youtube-card::before {
    background: linear-gradient(to bottom right, #ff0000, #ff4500);
}

#youtube-card .btn {
    background: linear-gradient(to bottom right, #ff0000, #ff4500);
}


.btn-google {
    background: linear-gradient(to bottom right, #34a853, #228b22);
    color: white !important;
}

.btn-instagram {
    background: linear-gradient(to bottom right, #833ab4, #fd1d1d, #fcb045);
    color: white !important;
}

.btn-youtube {
    background: #ff0000;
    /* Use YouTube's red color */
    color: white !important;
}

.btn-snapchat {
    background: #fffc00;
    /* Use Snapchat's yellow color */
    color: white;
}

.btn-tiktok {
    background: linear-gradient(to bottom right, #ff0000, #5800ff);
    color: white;
}

.btn-pubg {
    background: linear-gradient(135deg, #0d1a2b, #ffc600) !important;
    color: white !important;
}

.btn-freefire {
    color: white !important;
    background: linear-gradient(135deg, #FF9500, #222222);

}

.btn-twitter {
    background: linear-gradient(135deg, #1DA1F2, #ffffff);
    color: white !important;
}

.btn-twitter {
    background: linear-gradient(135deg, #0088cc, #ffffff);
    color: white !important;
}

.step-number {
    width: 100px !important;
    height: 100px !important;
}

.card-body.d-flex {
    align-items: center;
}

.steps-section .card-title {
    width: 100%;
    background-image: linear-gradient(208deg,
            #004e92,
            #0d80c1,
            #34a8db,
            #6fc1e2,
            #93d4e6);
    color: white !important;
}

.mrn-12 {
    margin-top: -14% !important;
}

.mrnt-5 {
    margin-top: -2% !important;
}

@media (max-width: 768px) {

    .logo {
        margin-top: -20% !important;
    }

    .logo img {
        width: 100%;
    }

    .mrn-12 {
        margin-top: -27% !important;
        font-size: 20px !important;
    }
}


/* DARK MODE */
.color-mode , .color-mode img{
    position: absolute;
    top: 15px !important;
    right: 2px;
}
.color-mode img{
    width: 160% !important;
}



